.button {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 2.5rem;
	height: 2.5rem;

	border: none;
	outline: none;

	border-radius: 50%;

	cursor: pointer;
}

.button:disabled {
	cursor: default;
}

.icon {
	width: 1.25rem;
	height: 1.25rem;
}

.black,
.red {
	background-color: transparent;
}

.black {
	color: var(--color-black);
}

.red {
	color: var(--color-red);
}

.black:disabled,
.red:disabled {
	color: var(--color-lightgray);
}

.blackFilled {
	background-color: var(--color-black);
}

.redFilled {
	background-color: var(--color-red);
}

.blackFilled,
.redFilled {
	color: var(--color-white);
}

.blackFilled:disabled,
.redFilled:disabled {
	background-color: var(--color-lightgray);
}
