.active,
.inactive {
	display: flex;
	align-items: center;
	font-size: var(--text-sm);
}

.active {
	color: var(--color-green);
}

.inactive {
	color: var(--color-red);
}

.statusIcon {
	width: 1rem;
	height: 1rem;

	margin-right: 0.5rem;
}
