.wrapper {
	position: relative;
}

.select {
	width: 100%;
	height: 2.5rem;

	padding: 0.5rem 1rem;
	padding-right: 3rem;

	border: none;
	outline: none;
	border-radius: var(--radius-sm);
	box-shadow: var(--shadow-sm);

	appearance: none;

	background-color: var(--color-white);

	cursor: pointer;
}

.select:focus {
	box-shadow: var(--shadow-md);
}

.icon {
	width: 1.5rem;
	height: 1.5rem;
	color: var(--color-gray);

	position: absolute;

	top: 50%;
	transform: translateY(-50%);
	right: 1rem;
	pointer-events: none;
}
